<div [ngClass]="'toDoContainer'">
    <div [ngClass]="'mediaRow'">
        @for(genre of genres.slice(0,3); track $index){
        <div [ngClass]="'mediaBlock'">
            <div [ngClass]="'mediaView'">
            </div>
            <label>{{genre}}</label>
        </div>
        }
    </div>
    <div [ngClass]="'mediaRow'">
        @for(genre of genres.slice(3,6); track $index){
        <div [ngClass]="'mediaBlock'">
            <div [ngClass]="'mediaView'">
            </div>
            <label>{{genre}}</label>
        </div>
        }
    </div>
</div>