
<div class="container">
    <h1>Login</h1>
    <div class="loginBox">
        <form [formGroup]="loginForm" class="loginForm">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" />
                @if (loginForm.get('email')?.hasError('required')) {
                <mat-error>
                    Email is required
                </mat-error>
                } @else if(loginForm.get('email')?.hasError('email')){
                <mat-error>
                    Not a valid email
                </mat-error>
                }
            </mat-form-field>
            
            <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" />
                @if (loginForm.get('password')?.hasError('required')) {
                <mat-error>
                    Password is required
                </mat-error>
                } @else if(loginForm.get('password')?.hasError('minlength')){
                <mat-error>
                    Minimum length - 6 chars
                </mat-error>
                }
            </mat-form-field>
            <div>
                <button mat-button type="button" (click)="onBack()">Back</button>
                <button mat-raised-button type="submit" (click)="onSubmit()">Login</button>
            </div>
        </form>
    </div>
    
</div>

