.container{
    background-color: #E6EEEF;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
}

.loginBox{
    display: flex;
    background-color: #D3E8F9;
    width: 20vw;
    height:30vh;
    gap: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.loginForm{
    display: flex;
    width:100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}