<div class="container">
    <h1>Register</h1>
    <div class="registerBox">
        <form [formGroup]="registerForm" class="registerForm">
            <mat-form-field appearance="fill">
                <mat-label>Email</mat-label>
                <input matInput type="email" formControlName="email" />
                @if (registerForm.get('email')?.hasError('required')) {
                <mat-error>
                    Email is required
                </mat-error>
                } @else if(registerForm.get('email')?.hasError('email')){
                <mat-error>
                    Not a valid email
                </mat-error>
                }
            </mat-form-field>

            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" />
                @if (registerForm.get('password')?.hasError('required')) {
                <mat-error>
                    Password is required
                </mat-error>
                } @else if(registerForm.get('password')?.hasError('minlength')){
                <mat-error>
                    Minimum length - 6 chars
                </mat-error>
                }
            </mat-form-field>

            
            <mat-form-field appearance="fill">
                <mat-label>Confirm Password</mat-label>
                <input matInput type="password" formControlName="confirmPassword" />
                @if (registerForm.get('confirmPassword')?.hasError('required')) {
                <mat-error>
                    Confirm password is required
                </mat-error>
                } @else if (registerForm.get('confirmPassword')?.touched && registerForm.get('confirmPassword')?.hasError('passwordMismatch')) {
                <mat-error>
                    Passwords do not match!
                </mat-error>
                }
            </mat-form-field>

            <div>
                <button mat-button (click)="onBack()">Back</button>
                <button mat-raised-button type="submit" (click)="onSubmit()">Register</button>
            </div>
        </form>
    </div>
</div>