<div [ngClass]="'container'">
    <h1>Register</h1>
    <div [ngClass]="'registerBox'">
        <form [formGroup]="registerForm">
            <div>
                <label for="email">Email:</label>
                <input id="email" type="email" formControlName="email">
            </div>
            @if(submitted && email?.touched && !email?.valid){
            <p style="color:red">Email in valid format is required</p>
            }
            <div>
                <label for="password">Password:</label>
                <input id="password" type="password" formControlName="password">
            </div>
            @if(submitted && password?.touched && !password?.valid){
            <p style="color:red">Password is not valid (min. 6 chars)</p>
            }
            <div>
                <label for="confirmPassword">Confirm Password:</label>
                <input id="confirmPassword" type="password" formControlName="confirmPassword">
            </div>
            @if(submitted && registerForm.errors?.["passwordMismatch"]){
            <p style="color:red">Passwords do not match!</p>
            }
            <button mat-raised-button type="submit" (click)="onSubmit()">Register</button>
        </form>
        <button mat-raised-button (click)="onBack()">
            Back
        </button>
    </div>
</div>