.finishedContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.finished-content-container{
  width:80vw;
}


.example-container {
  position: relative;
}

.example-table-container {
  position: relative;
  min-height: 200px;
  max-height: 400px;
  overflow: auto;
}

.example-table {
  width: 100%;
}